
 <h1> payment works! </h1>

<!-- <div class="container">


  <div class="Jumbtron">
        <h1> payment works! </h1>
  </div>
  <div class="row">
  <div class="col-6">
    <form (ngSubmit)="onSubmit()" [formGroup]="logform" class="formgroup">

      <div class="form-group">
        <label for="Name">Name </label>
        <input type="text" formControlName="Name" name="Name" id="Name" >

        <div *ngIf='logform.controls.Name?.touched'>
          <small class="text-danger" *ngIf='logform.controls.Name?.errors?.required'>required</small>
          <small class="text-danger" *ngIf='logform.controls.Name?.errors?.minlength'>min length 5</small>

        </div>

      </div>

      <div class="form-group">
        <label for="PhoneNum">PhoneNum </label>
        <input type="text" formControlName="PhoneNum" name="PhoneNum" id="PhoneNum" >

        <div *ngIf='logform.controls.PhoneNum?.touched'>
          <small class="text-danger" *ngIf='logform.controls.PhoneNum?.errors?.required'>required</small>
          <small class="text-danger" *ngIf='logform.controls.PhoneNum?.errors?.minlength'>min length 3</small>

        </div>
      </div>


      <button type="submit" class="btn btn-info" [disabled]="logform.invalid" >Save</button>
    </form>
  </div>







  </div>

  </div> -->




   <!-- <div class="col-6">
     <p>list of payments</p>

  <table>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Phone num</th>
    </tr>
    <tr *ngfor="let item of data" >
      <th>{{item.Id}}</th>
      <th>{{item.Id}}</th>
      <th>{{item.Id}}</th>
    </tr>

  </table>

  </div> -->
