<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcrumb-text">
                  <a href="#"><i class="fa fa-home"></i> Home</a>
                  <span>Register</span>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Breadcrumb Form Section Begin -->

<!-- Register Section Begin -->
<div class="register-login-section spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 offset-lg-3">
              <div class="register-form">
                  <h2>Register</h2>
                  <form [formGroup]="logform" (ngSubmit)="registerform()" >
                      <div class="group-input">
                          <label for="username">Username or email address *</label>
                          <input type="text"formControlName="username" name="username" id="username">
                          <div *ngIf='logform.controls.username?.touched' >
                            <small class="text-danger" *ngIf='logform.controls.username?.errors?.required'>required</small>
                            <small class="text-danger" *ngIf='logform.controls.username?.errors?.email'>email should be like : abcef@mnj.com</small>
                        </div>
                      </div>
                      <div class="group-input">
                          <label for="pass">Password *</label>
                          <input type="Password" formControlName="Password" name="Password" id="pass">
                          <div *ngIf='logform.controls.Password?.touched' >
                            <small class="text-danger" *ngIf='logform.controls.Password?.errors?.required'>required</small>
                            <small class="text-danger" *ngIf='logform.controls.Password?.errors?.minlength'>min length : 3</small>
                        </div>
                      </div>

                      <div class="group-input">
                          <label for="con-pass">Confirm Password *</label>
                          <input type="password" formControlName="confirmPassword" name="confirmPassword" id="con-pass">
                          <div *ngIf='logform.controls.confirmPassword?.touched' >
                            <small class="text-danger" *ngIf='logform.controls.confirmPassword?.errors?.required'>required</small>
                            <small class="text-danger" *ngIf='logform.controls.confirmPassword?.value != logform.controls.Password?.value'>not matched</small>
                        </div>
                      </div>

                      <div *ngIf="invalidRegister" class="alert alert-danger">username is tooken  </div>

                      <button type="submit" class="site-btn register-btn">REGISTER</button>
                  </form>
                  <div class="switch-login">
                      <a routerLink="" class="or-login">Or Login</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Register Form Section End -->
